---
import Layout from '../layouts/Layout.astro';
import browser from 'webextension-polyfill';


---

<Layout title="Welcome to Astro.">
<script>
console.log("This really ran");
document.getElementById('goUrlSettings').addEventListener('submit', function(e) {
    e.preventDefault();
    var url = document.getElementById('rootUrl').value;
    browser.storage.local.set({ goUrlSettingsRootUrl: e.target.checked });
});

// Populate the form field with the value of goUrlSettingsRootUrl
document.addEventListener('DOMContentLoaded', function() {
    browser.storage.local.get('goUrlSettingsRootUrl').then(function(result) {
        console.log(result)
        console.log("This ran too")
        document.getElementById('rootUrl').value = result.goUrlSettingsRootUrl;
    });
});

document.addEventListener('addNewRoute', function(e) {
    e.preventDefault();
})
</script>
	    <main>
        <h1>Go Urls Options</h1>
        <p>This is where you can set the options for using go urls.</p>
        <form id="goUrlSettings">
            <input type="text" placeholder="Root Url" id="rootUrl" name="rootUrl">
            <input type="submit" value="Save Options">
        </form>
        <form id="addNewRoute">
            <input type="text" name="key">
            <input type="text" name="url">
            <input type="submit" value="Add New Route">
        </form>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
