---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Go Url Popup">
  <main class="w-80">
    <form id="goUrlForm" class="flex flex-col">
      <input type="text" class="input input-bordered" />
      <input type="submit" value="Go to" class="btn btn-primary">
    </form>
  </main>
</Layout>
