---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Go Url Popup">
<script>
document.getElementById('goUrlForm').addEventListener('submit', function (e) {
  e.preventDefault();
  
  browser.storage.local.get('goUrlSettingsRootUrl').then(function (result) {
    let rootUrl = result.goUrlSettingsRootUrl;

    let creating = browser.tabs.create({
      url: rootUrl + e.target.slug.value,
      active: true
    });
    creating.then(() => {
      console.log("created")
    }, () => {
      console.log("failed")
    });

    window.close();
  });
});

</script>
  <main class="w-96">
    <form id="goUrlForm" class="flex flex-col p-2">
      <input type="text" class="input input-bordered" placeholder="Url Slug" />
      <input type="submit" value="Go to" class="btn btn-primary mt-4 w-6/12">
    </form>
  </main>
</Layout>
